/* reset */
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.header {
  background-image: url(../assets/headerBackground.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5rem 1rem 0 0;
  position: relative;
}

.header .header__containerlogo__logotipo {
  text-transform: uppercase;
  text-decoration-line: overline;
  font-weight: 800;
}

.header .header__carrusel {
  height: 60%;
  width: 55%;
  position: absolute;
  right: 0;
  margin: 2rem 2rem 0 0;
}

.carousel-item img {
  width: auto;
  height: 30rem;
  border-radius: 50%;
  object-fit: fill;
}

.header__containerlogo {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: end;
  margin-bottom: 0.75rem;
  list-style: none;
}

.header__nav .header__nav__navbar .header__nav__navbar__li__a,
.header__containerlogo .header__containerlogo__registrarse {
  text-decoration: none;
}

.header__nav .header__nav__navbar {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
  justify-content: end;
  list-style: none;
}

.header__nav__slidebar {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.349);
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  justify-content: start;
  align-items: start;
  z-index: 999;
  list-style: none;
}

.header__nav__slidebar .header__nav__slidebar__li {
  width: 100%;
}

.header__containerlogo__ul__btn {
  display: none;
}

/* footer */

.footer .footer__nav .footer__nav__container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  gap: 1rem;
  list-style: none;
}

.footer
  .footer__nav
  .footer__nav__container
  .footer__nav__container__li:nth-child(3) {
  margin-right: auto;
}

/* bannerIndex */
.containerbanner {
  display: grid;
  margin: 0.5rem;
  border-radius: 2rem;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "img titulo titulo"
    "img parrafo parrafo"
    "img parrafo parrafo";
  & .containerbanner__contimage {
    grid-area: img;
  }
  & .containerbanner__titulo {
    grid-area: titulo;
    text-align: center;
  }
  & .containerbanner__parrafo {
    grid-area: parrafo;
    text-align: center;
  }
}

.containerbanner .containerbanner__contimage .containerbanner__contimage__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

.containerbanner .containerbanner__titulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3rem;
}

/* containerMainAside */
.containermainaside {
  display: flex;
  flex-direction: row;
}

/* AsideIndex */
.aside {
  flex: 40%;
  padding: 1rem;
}

.aside .aside__titulo {
  text-align: center;
  margin-bottom: 1rem;
}
.aside .aside__iframe {
  width: 100%;
  height: 35%;
  border-radius: 1rem;
}

.aside .aside__containercard {
  display: flex;
  padding-top: 1rem;
  text-align: center;
}

.aside
  .aside__containercard
  .aside__containercard__item
  .aside__containercard__item__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 100%;
  border-top-left-radius: 1rem;
}
/* mainIndex */
.containermainaside__main {
  flex: 60%;
  display: grid;
  margin: 0.5rem;
  place-items: center;
  grid-template:
    "p1 p1 img1" 1fr
    "img2 p2 p2" 1fr
    "p3 p3 img3" 1fr/
    1fr 1fr 1fr;

  & .containermainaside__main--img1 {
    grid-area: img1;
  }
  & .containermainaside__main--p1 {
    grid-area: p1;
    text-align: center;
  }
  & .containermainaside__main--img2 {
    grid-area: img2;
  }
  & .containermainaside__main--p2 {
    grid-area: p2;
    text-align: center;
  }
  & .containermainaside__main--img3 {
    grid-area: img3;
  }
  & .containermainaside__main--p3 {
    grid-area: p3;
    text-align: center;
  }
}

.containermainaside__main .containermainaside__main--img1,
.containermainaside__main--img2,
.containermainaside__main--img3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

/* mainServicios */
.main .main__servicios {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  column-gap: 1rem;
  margin: 1.2rem;
}

.main .main__servicios .main__servicios__uno,
.main__servicios__dos,
.main__servicios__tres,
.main__servicios__uno__parrafo,
.main__servicios__dos__parrafo,
.main__servicios__tres__parrafo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.main .main__servicios .main__servicios__uno__img,
.main__servicios__dos__img,
.main__servicios__tres__img {
  max-width: 100%;
  height: 15rem;
  object-fit: fill;
}

.main__servicios__uno__button,
.main__servicios__dos__button,
.main__servicios__tres__button {
  background-color: blueviolet;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 5rem;
  text-transform: capitalize;
  box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
  transition: 2ms all ease-out;
  cursor: pointer;
}

.main__servicios__uno__button:hover,
.main__servicios__dos__button:hover,
.main__servicios__tres__button:hover {
  transform: scaleY(1.2);
  color: white;
}
/* mainNosotros */

/* mainContacto */
/* mainAreaVirtual */

/* Media Queries*/
@media screen and (max-width: 768px) {
  .header__containerlogo__registrarse {
    color: black;
  }
}

@media screen and (max-width: 576px) {
  /* all*/
  .header__nav__navbar__li__a {
    display: none;
  }
  /* all*/
  .header__containerlogo__ul__btn {
    display: block;
  }
  /* index*/
  .containermainaside {
    flex-direction: column;
  }
  /* index*/
  .containerbanner {
    display: flex;
    flex-flow: column nowrap;
  }
  /* index*/
  .containermainaside__main {
    display: flex;
    flex-flow: column nowrap;
  }
  /* servicios */
  .main .main__servicios {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  /* servicios */
  .main .main__servicios .main__servicios__uno__img,
  .main__servicios__dos__img,
  .main__servicios__tres__img {
    width: 100%;
  }
  /* index*/
  .aside__containercard {
    display: flex;
    flex-flow: column nowrap;
  }

  @media screen and (max-width: 400px) {
    /* all */
    .header__nav__slidebar {
      width: 100%;
    }
  }
}
