/*footer*/
.footer {
  .footer {
    &__nav {
      &__container {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 1rem 0 1rem;
        gap: 1rem;
        list-style: none;
        &__li:nth-child(3) {
          margin-right: auto;
        }
      }
    }
  }
}