/* bannerIndex */
.containerbanner {
  display: grid;
  margin: 0.5rem;
  border-radius: 2rem;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "img titulo titulo"
    "img parrafo parrafo"
    "img parrafo parrafo";
  & .containerbanner__contimage {
    grid-area: img;
  }
  & .containerbanner__titulo {
    grid-area: titulo;
    text-align: center;
  }
  & .containerbanner__parrafo {
    grid-area: parrafo;
    text-align: center;
  }
  .containerbanner {
    &__contimage {
      &__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        padding: 0.5rem;
      }
    }
    &__titulo {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 3rem;
    }
  }
}

/* containerMainAside */
.containermainaside {
  display: flex;
  flex-direction: row;
  &__main {
    flex: 60%;
    display: grid;
    margin: 0.5rem;
    place-items: center;
    grid-template:
      "p1 p1 img1" 1fr
      "img2 p2 p2" 1fr
      "p3 p3 img3" 1fr/
      1fr 1fr 1fr;

    & .containermainaside__main__img1 {
      grid-area: img1;
    }
    & .containermainaside__main--p1 {
      grid-area: p1;
      text-align: center;
    }
    & .containermainaside__main__img2 {
      grid-area: img2;
    }
    & .containermainaside__main--p2 {
      grid-area: p2;
      text-align: center;
    }
    & .containermainaside__main__img3 {
      grid-area: img3;
    }
    & .containermainaside__main--p3 {
      grid-area: p3;
      text-align: center;
    }
    &__img1 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      padding: 0.5rem;
    }
    &__img2 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      padding: 0.5rem;
    }
    &__img3 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      padding: 0.5rem;
    }
  }
}

/* AsideIndex */
.aside {
  flex: 40%;
  padding: 1rem;
  .aside {
    &__titulo {
      text-align: center;
      margin-bottom: 1rem;
    }
    &__iframe {
      width: 100%;
      height: 35%;
      border-radius: 1rem;
    }
    &__containercard {
      display: flex;
      padding-top: 1rem;
      text-align: center;
      &__item {
        &__img {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 10rem;
          width: 100%;
          border-top-left-radius: 1rem;
        }
      }
    }
  }
}

/* mainServicios */
.main {
  .main__servicios {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    column-gap: 1rem;
    margin: 1.2rem;
    &__uno {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
    &__dos {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
    &__tres {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
    &__uno__parrafo {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
    &__dos__parrafo {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
    &__tres__parrafo {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
    .main__servicios {
      &__uno__img {
        max-width: 100%;
        height: 15rem;
        object-fit: fill;
      }
      &__dos__img {
        max-width: 100%;
        height: 15rem;
        object-fit: fill;
      }
      &__tres__img {
        max-width: 100%;
        height: 15rem;
        object-fit: fill;
      }
      &__uno__button {
        background-color: blueviolet;
        padding: 0.5rem;
        border-radius: 1rem;
        width: 5rem;
        text-transform: capitalize;
        box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
        transition: 2ms all ease-out;
        cursor: pointer;
        &:hover {
          transform: scaleY(1.2);
          color: white;
        }
      }
      &__dos__button {
        background-color: blueviolet;
        padding: 0.5rem;
        border-radius: 1rem;
        width: 5rem;
        text-transform: capitalize;
        box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
        transition: 2ms all ease-out;
        cursor: pointer;
        &:hover {
          transform: scaleY(1.2);
          color: white;
        }
      }
      &__tres__button {
        background-color: blueviolet;
        padding: 0.5rem;
        border-radius: 1rem;
        width: 5rem;
        text-transform: capitalize;
        box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
        transition: 2ms all ease-out;
        cursor: pointer;
        &:hover {
          transform: scaleY(1.2);
          color: white;
        }
      }
    }
  }
}

/* mainNosotros */
main {
  .nosotros {
    width: 25rem;
    height: 20rem;
    margin-top: 2.5rem;
    border-radius: 10%;
  }
  img {
    width: 25rem;
    height: 20rem;
    margin-top: 2.5rem;
    border-radius: 10%;
  }
  .contenedor-nosotros {
    .slider-nosotros {
      display: inline-flex;
      flex-flow: row nowrap;
      gap: 2rem;
      height: 150px;
      background-color: rgba(43, 226, 113, 0.514);
      width: auto;
      position: relative;
      top: 15rem;
      right: 5rem;
      z-index: 1;
      padding: 0.5rem;
      border-radius: 5%;
      .paes {
        color: black;
        text-decoration: overline;
        font-weight: 800;
      }
    }
  }
  .testimonios {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin: 4rem 1rem 0 1rem;
    justify-content: center;
    align-items: baseline;
    .testimonio {
      &1 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
      }
      &2 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
      }
      &3 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
      }
    }
    .p {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2.5rem;
    }
    img {
      max-width: 100%;
      object-fit: fill;
      border-radius: 10%;
    }
  }
  .container-all {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

/* mainContacto */
main {
  .admin {
    display: flex;
    column-gap: 1rem;
    margin-left: 1rem;
    align-items: baseline;
    a {
      text-decoration: none;
    }
  }
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5%;
  background-color: rgba(43, 226, 113, 0.514);
  border-radius: 1.5rem;
  .nombre {
    margin-bottom: 1rem;
  }
  .email {
    margin-bottom: 1rem;
  }
  .asunto {
    margin-bottom: 1rem;
  }
  .mensaje {
    margin-bottom: 1rem;
  }
  button {
    background-color: blueviolet;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 7rem;
    text-transform: capitalize;
    box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
    transition: transform 0.2s ease-out;
    cursor: pointer;
    margin-top: 2rem;
    &:hover {
      transform: scale(1.1);
      color: white;
    }
  }
}

/* mainAreaVirtual */
.containerareavirtual {
  display: flex;
  margin: 3rem 0 0 3rem;
  height: 100vh;
  .main {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .checkbox {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        gap: 0.5rem;
      }
    }
    .container-registrarse {
      display: flex;
      justify-content: baseline;
      align-items: baseline;
      gap: 1rem;
      text-decoration: none;
    }
    a {
      display: flex;
      justify-content: baseline;
      align-items: baseline;
      gap: 1rem;
      text-decoration: none;
    }
  }
  .aside {
    flex: 50%;
    background-image: url("../assets/areaVirtual.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    border-radius: 5%;
    p {
      color: white;
      text-decoration: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}