/* bannerIndex */
.containerbanner {
  display: grid;
  margin: $rem-05;
  border-radius:$rem-2;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "img titulo titulo"
    "img parrafo parrafo"
    "img parrafo parrafo";
  & .containerbanner__contimage {
    grid-area: img;
  }
  & .containerbanner__titulo {
    grid-area: titulo;
    text-align: center;
  }
  & .containerbanner__parrafo {
    grid-area: parrafo;
    text-align: center;
  }
  .containerbanner {
    &__contimage {
      &__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include sizes($allporcent, $allporcent);
        border-radius: $rem-1;
        padding: $rem-05;
      }
    }
    &__titulo {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 3rem;
    }
  }
}

/* containerMainAside */
.containermainaside {
  display: flex;
  flex-direction: row;
  &__main {
    flex: $porcent-60;
    display: grid;
    margin: $rem-05;
    place-items: center;
    grid-template:
      "p1 p1 img1" 1fr
      "img2 p2 p2" 1fr
      "p3 p3 img3" 1fr/
      1fr 1fr 1fr;

    & .containermainaside__main__img1 {
      grid-area: img1;
    }
    & .containermainaside__main--p1 {
      grid-area: p1;
      text-align: center;
    }
    & .containermainaside__main__img2 {
      grid-area: img2;
    }
    & .containermainaside__main--p2 {
      grid-area: p2;
      text-align: center;
    }
    & .containermainaside__main__img3 {
      grid-area: img3;
    }
    & .containermainaside__main--p3 {
      grid-area: p3;
      text-align: center;
    }
    &__img1 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include sizes($allporcent, $allporcent);
      border-radius: $rem-1;
      padding: $rem-05;
    }
    &__img2 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include sizes($allporcent, $allporcent);
      border-radius: $rem-1;
      padding: $rem-05;
    }
    &__img3 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include sizes($allporcent, $allporcent);
      border-radius: $rem-1;
      padding: $rem-05;
    }
  }
}

/* AsideIndex */
.aside {
  flex: $porcent-40;
  padding: $rem-1;
  .aside {
    &__titulo {
      text-align: center;
      margin-bottom: $rem-1;
    }
    &__iframe {
      @include sizes($allporcent, $porcent-35);
      border-radius: $rem-1;
    }
    &__containercard {
      display: flex;
      padding-top: $rem-1;
      text-align: center;
      &__item {
        &__img {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @include sizes($allporcent, $rem-10);
          border-top-left-radius: $rem-1;
        }
      }
    }
  }
}

/* mainServicios */
.main {
  .main__servicios {
    @include flex-row-center;
    column-gap: $rem-1;
    margin: 1.2rem;
    &__uno {
      @include flex-column-nowrap;
      justify-content: center;
      align-items: center;
      gap: $rem-1;
      text-align: center;
    }
    &__dos {
      @include flex-column-nowrap;
      justify-content: center;
      align-items: center;
      gap: $rem-1;
      text-align: center;
    }
    &__tres {
      @include flex-column-nowrap;
      justify-content: center;
      align-items: center;
      gap: $rem-1;
      text-align: center;
    }
    &__uno__parrafo {
      @include flex-column-nowrap;
      justify-content: center;
      align-items: center;
      gap: $rem-1;
      text-align: center;
    }
    &__dos__parrafo {
      @include flex-column-nowrap;
      justify-content: center;
      align-items: center;
      gap: $rem-1;
      text-align: center;
    }
    &__tres__parrafo {
      @include flex-column-nowrap;
      justify-content: center;
      align-items: center;
      gap: $rem-1;
      text-align: center;
    }
    .main__servicios {
      &__uno__img {
        max-width: $allporcent;
        height: $rem-15;
        object-fit: fill;
      }
      &__dos__img {
        max-width: $allporcent;
        height: $rem-15;
        object-fit: fill;
      }
      &__tres__img {
        max-width: $allporcent;
        height: $rem-15;
        object-fit: fill;
      }
      &__uno__button {
        background-color: blueviolet;
        padding: $rem-05;
        border-radius: $rem-1;
        width:$rem-5;
        text-transform: capitalize;
        box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
        transition: 2ms all ease-out;
        cursor: pointer;
        &:hover {
          transform: scaleY($scale-y);
          color: white;
        }
      }
      &__dos__button {
        background-color: blueviolet;
        padding: $rem-05;
        border-radius: $rem-1;
        width:$rem-5;
        text-transform: capitalize;
        box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
        transition: 2ms all ease-out;
        cursor: pointer;
        &:hover {
          transform: scaleY($scale-y);
          color: white;
        }
      }
      &__tres__button {
        background-color: blueviolet;
        padding: $rem-05;
        border-radius: $rem-1;
        width:$rem-5;
        text-transform: capitalize;
        box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
        transition: 2ms all ease-out;
        cursor: pointer;
        &:hover {
          transform: scaleY($scale-y);
          color: white;
        }
      }
    }
  }
}

/* mainNosotros */
img {
  @include sizes(25rem, 20rem);
  margin-top: 2.5rem;
  border-radius: $porcent-10;
}
main {
  .nosotros {
    @include sizes(25rem, 20rem);
    margin-top: 2.5rem;
    border-radius: $porcent-10;
  }
  .contenedor-nosotros {
    .slider-nosotros {
      display: inline-flex;
      flex-flow: row nowrap;
      gap:$rem-2;
      @include sizes(auto, 150px);
      background-color: rgba(43, 226, 113, 0.514);
      position: relative;
      top: $rem-15;
      right:$rem-5;
      z-index: 1;
      padding: $rem-05;
      border-radius: $porcent-5;
      .paes {
        color: black;
        text-decoration: overline;
        font-weight: 800;
      }
    }
  }
  .testimonios {
    @include flex-row-center;
    gap: 2.5rem;
    margin: 4rem $rem-1 0 $rem-1;
    align-items: baseline;
    .testimonio {
      &1 {
        @include flex-column-nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
      }
      &2 {
        @include flex-column-nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
      }
      &3 {
        @include flex-column-nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
      }
    }
    .p {
      @include flex-column-nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2.5rem;
    }
    img {
      max-width: $allporcent;
      object-fit: fill;
      border-radius: $porcent-10;
    }
  }
  .container-all {
    @include flex-row-center;
    gap:$rem-2;
  }
}

/* mainContacto */
main {
  .admin {
    display: flex;
    column-gap: $rem-1;
    margin-left: $rem-1;
    align-items: baseline;
    a {
      text-decoration: none;
    }
  }
}

.formulario {
  @include flex-row-center;
  align-items: center;
  margin: auto;
  padding: $porcent-5;
  background-color: rgba(43, 226, 113, 0.514);
  border-radius: 1.5rem;
  .nombre {
    margin-bottom: $rem-1;
  }
  .email {
    margin-bottom: $rem-1;
  }
  .asunto {
    margin-bottom: $rem-1;
  }
  .mensaje {
    margin-bottom: $rem-1;
  }
  button {
    background-color: blueviolet;
    padding: $rem-05;
    border-radius: $rem-1;
    width: 7rem;
    text-transform: capitalize;
    box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582);
    transition: transform 0.2s ease-out;
    cursor: pointer;
    margin-top:$rem-2;
    &:hover {
      transform: scale(1.1);
      color: white;
    }
  }
}

/* mainAreaVirtual */
.containerareavirtual {
  display: flex;
  margin: 3rem 0 0 3rem;
  height: 100vh;
  .main {
    flex: $porcent-50;
    display: flex;
    flex-direction: column;
    gap:$rem-2;
    form {
      display: flex;
      flex-direction: column;
      gap: $rem-1;
      .checkbox {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        gap: $rem-05;
      }
    }
    .container-registrarse {
      display: flex;
      justify-content: baseline;
      align-items: baseline;
      gap: $rem-1;
      text-decoration: none;
    }
    a {
      display: flex;
      justify-content: baseline;
      align-items: baseline;
      gap: $rem-1;
      text-decoration: none;
    }
  }
  .aside {
    flex: $porcent-50;
    background-image: url("../assets/areaVirtual.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-row-center;
    align-items: baseline;
    gap: $rem-1;
    border-radius: $porcent-5;
    p {
      color: white;
      text-decoration: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
