/*reset*/
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

//mixins
@mixin sizes($width, $height){
  width: $width;
  height: $height;
}

@mixin flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-column-nowrap{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

//maps boton
$boton: (
  background-color: blueviolet,
  padding: $rem-05,
  border-radius: $rem-1,
  width: 7rem,
  text-transform: capitalize,
  box-shadow: 0 5px 10px rgba(19, 0, 13, 0.582),
  transition: transform 0.2s ease-out,
  cursor: pointer,
  margin-top: $rem-2
);