//variables
$rem-05: 0.5rem;
$rem-2: 2rem;
$rem-1: 1rem;
$rem-5: 5rem;
$rem-10: 10rem;
$rem-15: 15rem;

$allporcent: 100%;
$porcent-60: 60%;
$porcent-50: 50%;
$porcent-40: 40%;
$porcent-35: 35%;
$porcent-10: 10%;
$porcent-5: 5%;

$scale-y: 1.2;